<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block head %}
      <title>Launch Store - Alex Felipe Barbosa</title>
    {% endblock %}

    {% include "parts/styles.njk" %}

  </head>
 
  <body>

    {% include "parts/messages.njk" %}

    {% include "parts/header.njk" %}

    <header>
      <div class="links">
       
      </div>
    </header>

    {% block content %}{% endblock %}

    {% include "parts/footer.njk" %}



  </body>
</html>