<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Felipe Barbosa</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="portfolio">Aulas</a>
      </div>
    </header>

    <div id="wrapper">
      <img
        src="https://avatars3.githubusercontent.com/u/12144620?s=460&u=b9785347e44440d8a08fbbaf61a72288c05671e0&v=4"
        alt="Alex Felipe Barbosa"
      />

      <h1>Alex Felipe Barbosa</h1>
      <h2>Analista de Sistemas</h2>
      <h3>Desenvolvedor Backend</h3>
      <p>
        Analista de Sistemas e Desenvolvedor SQL, conhecimentos em Oracle
        PL/SQL. Mais informações acessar:
        <a href="http://www.alexbarbosa.info" target="_blanck">Blog</a>
      </p>
    </div>

    <div id="links-footer" class="links">
      <a href="https://github.com/alexfelipebarbosa" target="_blanck">Github</a>
      <a href="https://twitter.com/alexf_barbosa" target="_blanck">Twitter</a>
      <a href="https://www.linkedin.com/in/alexfelipebarbosa" target="_blanck"
        >Linkedin</a
      >
      <a href="http://www.alexbarbosa.info" target="_blanck">Site</a>
    </div>
  </body>
</html>
