<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Felipe Barbosa</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <div class="links">
        <a href="index.html">Sobre</a>
        <a href="classes.html">Aulas</a>
      </div>
    </header>

    <div id="wrapper">
      <h1>Aulas</h1>
    </div>

    <section class="cards">
      <div class="card" id="BOWdx4rLwXg">
        <div class="card__image-container">
          <img
            src="https://img.youtube.com/vi/BOWdx4rLwXg/0.jpg"
            alt="Rocketseat"
          />
        </div>

        <div class="card__content">
          <p>Migrando de Tecnologias Dentro de um App Grande</p>
        </div>

        <div class="card__info">
          <p>45 min</p>
          <p class="card__price">Free</p>
        </div>
      </div>

      <div class="card" id="7HMlkIBRH60">
        <div class="card__image-container">
          <img src="https://img.youtube.com/vi/7HMlkIBRH60/0.jpg" alt="Globo" />
        </div>

        <div class="card__content">
          <p>Escalando Aplicações para Milhões de Usuários na Rede Globo</p>
        </div>

        <div class="card__info">
          <p>33 min</p>
          <p class="card__price">Free</p>
        </div>
      </div>

      <div class="card" id="t6s3sICLOM8">
        <div class="card__image-container">
          <img src="https://img.youtube.com/vi/t6s3sICLOM8/0.jpg" alt="Neon" />
        </div>

        <div class="card__content">
          <p>Uso das Tecnologias em um Banco Digital - Banco Neon</p>
        </div>

        <div class="card__info">
          <p>75 min</p>
          <p class="card__price">Free</p>
        </div>
      </div>

      <div class="card" id="x4FdZd2-_uU">
        <div class="card__image-container">
          <img
            src="https://img.youtube.com/vi/x4FdZd2-_uU/0.jpg"
            alt="Discord"
          />
        </div>

        <div class="card__content">
          <p>Recriando a Interface do Discord com ReactJS | UI Clone</p>
        </div>

        <div class="card__info">
          <p>13 min</p>
          <p class="card__price">Free</p>
        </div>
      </div>

      <div class="card" id="P65RJTTqkN4">
        <div class="card__image-container">
          <img
            src="https://img.youtube.com/vi/P65RJTTqkN4/0.jpg"
            alt="Formulários no ReactJS & React Native com Unform"
          />
        </div>

        <div class="card__content">
          <p>Migrando de Tecnologias Dentro de um App Grande</p>
        </div>

        <div class="card__info">
          <p>38 min</p>
          <p class="card__price">Free</p>
        </div>
      </div>

      <div class="card" id="bVAhNaxBEjM">
        <div class="card__image-container">
          <img src="https://img.youtube.com/vi/bVAhNaxBEjM/0.jpg" alt="Debug" />
        </div>

        <div class="card__content">
          <p>Debug de aplicações Node.js com VSCode | Code/Drops</p>
        </div>

        <div class="card__info">
          <p>57 min</p>
          <p class="card__price">Free</p>
        </div>
      </div>
    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
